.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .forecast {
      width: 130px;
      height: 180px;
      padding: 10px;
    }
  }
}
