.container {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 80px;

  .search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    // height: 100px;

    form {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 200px;

      .searchTerm {
        width: 100%;
        border: 3px solid #00b4cc;
        border-right: none;
        padding: 5px;
        height: 20px;
        border-radius: 5px 0 0 5px;
        outline: none;
        color: #9dbfaf;
      }

      .searchTerm:focus {
        color: #00b4cc;
      }

      .searchButton {
        width: 40px;
        height: 36px;
        border: 1px solid #00b4cc;
        background: #00b4cc;
        text-align: center;
        color: #fff;
        cursor: pointer;
        font-size: 20px;
        border-right: solid 1px black;
      }

      .geoButton {
        width: 40px;
        height: 36px;
        border: 1px solid #00b4cc;
        background: #00b4cc;
        text-align: center;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 20px;
      }
    }

    .error {
      min-height: 20px;
      color: red;
      font-size: 14px;
      text-align: center;
    }
  }
}
